In [8]:
from pandas import *
from numpy import *
list1=[1,3,45,22,12,45]
print(list1)
print(Series(list1))
print(DataFrame(list1))

[1, 3, 45, 22, 12, 45]
0     1
1     3
2    45
3    22
4    12
5    45
dtype: int64
    0
0   1
1   3
2  45
3  22
4  12
5  45

In [9]:
print(Series())

Series([], dtype: float64)

In [12]:
from pandas import *
from numpy import *
arr=array(['j','a','y','a','n','t'])
print(Series(arr))

0    j
1    a
2    y
3    a
4    n
5    t
dtype: object

In [13]:
x=Series(4,index=[0,1,2,3,4])
print(x)

0    4
1    4
2    4
3    4
4    4
dtype: int64

In [29]:
x=Series(data=[1,3,4],index=['a','b','c'],dtype=int)
print(x)
print(x.index)                            #series functions...
print(x.values)
print(x.dtype)
print(x.itemsize)
print(x.shape)
print(x.size)
print(x.sum())
print(x.min())
print(x.max())
print(x.ndim)
print(x.size)
print(x.nbytes)
print(x.empty)
print(x.hasnans)
print(x.count())
print(len(x))

a    1
b    3
c    4
dtype: int32
Index(['a', 'b', 'c'], dtype='object')
[1 3 4]
int32
4
(3,)
3
8
1
4
1
3
12
False
False
3
3

C:\Users\USER\Anaconda3\lib\site-packages\ipykernel_launcher.py:6: FutureWarning: Series.itemsize is deprecated and will be removed in a future version

In [35]:
a=Series(['java','c','c++'])
a.map({'java':'core'})
a.map("I like ".format)

0    I like
1    I like
2    I like
dtype: object

In [42]:
s=Series(["a","b","c"],name="values")
s.to_frame()

  values
0      a
1      b
2      c

In [47]:
emp=Series(['jayant','aman','suresh'])
id=Series([101,102,103])
frame={'EMP':emp,'ID':id}
result=DataFrame(frame)
print(result)

      EMP   ID
0  jayant  101
1    aman  102
2  suresh  103

In [48]:
a=130
print(a)
b=float(a)
print(b)

130
130.0

In [49]:
sets={"jks","aman","sahez"}
sets.add("payal")
for i in sets:
    print(i)

sahez
payal
jks
aman

In [50]:
sets.update(["akash","yaman","kanta"])
for i in sets:
    print(i)

aman
kanta
sahez
akash
yaman
jks
payal

In [51]:
x=sets.pop()
print(x)

aman

In [53]:
set2={"hello","world"}
set3=set2.union(sets)
print(set3)

{'kanta', 'sahez', 'akash', 'hello', 'world', 'yaman', 'jks', 'payal'}

In [84]:
name={"1":"jayant","2":"himanshu"}
print(name.get("1"))
print(name["1"])
name["1"]="aman"
for i in name:
    print(name.values())
for i in name:
    print(name[i])
    
for x,y in name.items():
    print(x,y)
    
if "1" in name:
    print("true")
    
    print(len(name))
    
print(name)

name.update({"5":"hello","6":"hello"})
print(name)

jayant
jayant
dict_values(['aman', 'himanshu'])
dict_values(['aman', 'himanshu'])
aman
himanshu
1 aman
2 himanshu
true
2
{'1': 'aman', '2': 'himanshu'}
{'1': 'aman', '2': 'himanshu', '5': 'hello', '6': 'hello'}

In [82]:
name["3"]="sahez"
name["4"]="jayant"
for x,y in name.items():
    print(x,y)
    
    print(name)

new_name=name.copy()
print(new_name)

1 aman
{'1': 'aman', '2': 'himanshu', '3': 'sahez', '4': 'jayant'}
2 himanshu
{'1': 'aman', '2': 'himanshu', '3': 'sahez', '4': 'jayant'}
3 sahez
{'1': 'aman', '2': 'himanshu', '3': 'sahez', '4': 'jayant'}
4 jayant
{'1': 'aman', '2': 'himanshu', '3': 'sahez', '4': 'jayant'}
{'1': 'aman', '2': 'himanshu', '3': 'sahez', '4': 'jayant'}

In [85]:
name.popitem()
print(name)

{'1': 'aman', '2': 'himanshu', '5': 'hello'}

In [87]:
#lambda expression
x=lambda x: x+10

print(x(5))

15

In [94]:
class Person:
    def display():
        print("Parent class")
        
class Student(Person):
    pass
    
P=Student()
P.display()

TypeError: display() takes 0 positional arguments but 1 was given

In [98]:
mytupple=("apple","banana","orange")

myitr=iter(mytupple)

for i in myitr:
    print(i)

apple
banana
orange

In [99]:
import datetime
print(datetime.datetime.now())

2020-02-06 03:47:41.378379

In [101]:
import json

x='{"name":"jayant","age":30,"city":"New Delhi"}'

print(x)
y=json.loads(x)

print(y)

{"name":"jayant","age":30,"city":"New Delhi"}
{'name': 'jayant', 'age': 30, 'city': 'New Delhi'}

In [105]:
data={"name":"jayant","age":20,"city":"New Delhi"}
print(data)
json=json.dumps(data)
print(json)

{'name': 'jayant', 'age': 20, 'city': 'New Delhi'}
{"name": "jayant", "age": 20, "city": "New Delhi"}

In [107]:
import re

txt="The rain in spain"
x=re.search("^The.*Spain$",txt)

if txt:
    print("yes ! we have match")
else:
    print("sorry! we didn/'t find" )

yes ! we have match